div
  md-card-header
    md-card-avatar
      img(src='{{gitHubUser.avatar_url}}', style='width:40px;height:40px;border-radius:20px')
    md-card-header-text
      span.md-title.github {{gitHubUser.name}}
      span.md-subhead
        a(href='{{gitHubUser.html_url}}', target='_blank') (@{{gitHubUser.login}})
  md-card-content
    md-list
      md-list-item.md-2-line
        div.md-list-item-text
          p Bio: {{gitHubUser.bio}}
          p Location: {{gitHubUser.location}}
          p Followers: {{gitHubUser.followers}}
          p Following: {{gitHubUser.following}}
  md-card-header
    md-card-header-text
      span.md-title.github Repositories
      span.md-subhead Total: {{gitHubUser.public_repos}}
  md-card-content
    div(ng-repeat='repo in repos')
      md-card-header.repo-list
        md-card-header-text
          span.md-title.github {{repo.name}}
          span.md-subhead
            a(href='{{repo.html_url}}', target='_blank') {{repo.full_name}}
  md-card-header
    md-card-header-text
      span.md-title.github About Portfolio Page (renz-ngmaterial)
  md-card-content
    pre(ng-bind-html='readme', style='height:inherit;')
