extends layout
block content
  md-content(flex)
    md-tabs(md-dynamic-height, mg-border-bottom)
      md-tab(label='INFORMATION')
        include tabs/info
      md-tab(label='SKILLS')
        include tabs/skills
      md-tab(label='LINKS')
        include tabs/links
      md-tab(label='API')
        include tabs/api
