html(ng-app='portfolioPage')
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		meta(name='author', content='Renzo L. Dimasapit')
		link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/styles/styles.min.css')
		block script
	body(ng-cloak, ng-controller='pageCtrl')
				include partials/header
				block content
				include partials/footer
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-resource.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js')
	script(src='/scripts/app.js')
	script(src='/scripts/data.js')
