div
  md-content(ng-controller='githubCtrl')
    md-card(md-card-scroll-shrink)
      md-card-header
        md-tooltip View Github Profile and project details using the Github API.
        h1.md-headline(flex, md-truncate) View Github Profile and Project Details
        md-button(ng-click='getGitInfo()') View
    md-card(ng-show='loadedGithub')
      include ..//tabs/api/github
              
